version: "3.6"

services:
    nginx:
        image: nginx:1.21.3-alpine
        container_name: hms_nginx
        ports:
            - 9090:9090
        volumes:
            - ./docker-conf/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./storage/nginx:/var/log/nginx
            - ./:/app
        links:
            - php
    php:
        container_name: hms_php_fpm
        build:
            context: ./docker-conf/php
        volumes:
            - ./:/app
            - ./docker-conf/php/www.conf:/usr/local/etc/php-fpm.d/www.conf:rw
            - ./docker-conf/php/php.ini:/usr/local/etc/php/php.ini:rw
            - ./docker-conf/php/openssl.cnf:/etc/ssl/openssl.cnf:rw
        env_file:
            - "./.env"
        logging:
            driver: "json-file"
            options:
                max-size: "200k"
                max-file: "3"
        working_dir: /app
        links:
           - db
    db:
        container_name: hms_db
        image: mariadb
        ports:
            - "${DB_PORT}:3306"
        volumes:
            - ./:/db-data
            - ./db-data:/var/lib/mysql
        env_file:
            - "./.env"
        environment:
            MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
            MARIADB_ROOT_PASSWORD: "${DB_PASSWORD}"
            MYSQL_DATABASE: "${DB_DATABASE}"
            MYSQL_USER: "${DB_USERNAME}"
            MYSQL_PASSWORD: "${DB_PASSWORD}"
            MYSQL_TCP_PORT: ${DB_PORT}
            MYSQL_UNIX_PORT: ${DB_PORT}
